<template name="currentsites">

    <!--<select class="ui dropdown active item">
              <option class="item" value="site.AQSID">          <span id="siteselect" class="text">Select Location</span>{{sitename}}</option>
                    {{#each sites}}
                        <option class="item" value="{{this.AQSID}}">{{this.name}}</option>
                    {{/each}}
                </select>-->


    <select class="ui dropdown active item">
        <option value='482010570'>Clear Brooke Highschool</option>
        <option value='481670571'>Clear Creek Highschool</option>
        <option value='482010572'>Clear Lake Highschool</option>
        
    </select>

    <div id="container-chart-O3" style="width: 100%"></div>
    <div id="container-chart-RMY_Wind" style="width: 100%"></div>
    <div id="container-chart-HMP60" style="width: 100%"></div>

    <!--<div id="container-remote" style="min-width: 310px; height: 400px;"></div>-->
</template>