<template name="currentsites">

    <!--<select class="ui dropdown active item">
              <option class="item" value="site.AQSID">          <span id="siteselect" class="text">Select Location</span>{{sitename}}</option>
                    {{#each sites}}
                        <option class="item" value="{{this.AQSID}}">{{this.name}}</option>
                    {{/each}}
                </select>-->

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <select class="ui dropdown">
                    
                    <option value='482010570'>Clear Brooke Highschool</option>
                    <option value='481670571'>Clear Creek Highschool</option>
                    <option value='482010572'>Clear Lake Highschool</option>
                    

                </select>


                <div class="ui input">
                    <input type="date" data-format="EE, MMMM dd'th' yyyy">
                </div>
            </div>
        </div>
        <div id="container-chart-O3" style="width: 100%"></div>
        <div id="container-chart-RMY_Wind" style="width: 100%"></div>
        <div id="container-chart-HMP60" style="width: 100%"></div>
    </div>

    {{> editPoints}}
</template>

<template name="editPoints">
    <div class="ui basic modal" id="editPointsModal">
        <i class="close icon"></i>
        <div class="header">
            Edit Points
        </div>
        <div class="image content">
            <div class="image">
                <i class="archive icon"></i>
            </div>
            <div class="description">
                
                <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui red basic inverted button">
                    <i class="remove icon"></i> No
                </div>
                <div class="ui green basic inverted button">
                    <i class="checkmark icon"></i> Yes
                </div>
            </div>
        </div>
    </div>
</template>

<template name="task">
  <li>2</li>
</template>