<template name="site">
    <div class="ui page grid">
        <div class="column">
            <div class="row">
                <div class="ui form">
                    <div class="inline field">
                        <label>Select Date: </label>
                        <input type="date" id="datepicker">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-chart-O3" style="width: 100%"></div>
    <div id="container-chart-RMY_Wind" style="width: 100%"></div>
    <div id="container-chart-HMP60" style="width: 100%"></div>


    {{> editPoints}}
</template>

<template name="editPoints">
    <div class="ui basic modal" id="editPointsModal">
        <i class="close icon"></i>
        <div class="header">
            New Flag
        </div>
        <div class="content">
            <!--<div class="ui fluid input">
                <input id="modalInputValue" placeholder="" type="text" value="{{formValue}}">
            </div>-->

            <div class="ui selection dropdown" id="drop">
                <input type="hidden" name="flag">
                <i class="dropdown icon"></i>
                <div class="default text">Flag</div>
                <div class="menu">
                    <div class="item" data-value="K" data-text="K">
                        <i class="square red icon"></i> K (Valid)
                    </div>
                    <div class="item" data-value="Q" data-text="Q">
                        <i class="square darkgreen icon"></i> Q (Span)
                    </div>
                </div>
            </div>

            <div class="description">



                <p>Flag will be changed for the follwoing selected Points:</p>
                <ul>
                    {{#each points}} {{> point}} {{/each}}
                </ul>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui red basic inverted button">
                    <i class="remove icon"></i> Cancel
                </div>
                <div class="ui green basic inverted button">
                    <i class="checkmark icon"></i> Submit
                </div>
            </div>
        </div>
    </div>
</template>

<template name="point">
    <li>{{formatDate x}} {{Flag}}</li>
</template>