<template name="simple">
    <h1>Calling serve method</h1>
    <input type="button" value="Call" />
    <div id="simpleResult">{{result}}</div>
</template>

<template name="passData">
    <h1>Create 5 min Aggregate Data for</h1>
    <span>Site: </span>
    <input type="text" value="481670571" />
    <input id="passDataResult" type="button" value="Call" />
    <div>{{result}}</div>

    <h1>Create CSV</h1>
    <span>Start Epoch: </span>
    <input id="start" type="text" value="1446445200" />
    <span>Start Epoch: </span>
    <input id="end" type="text" value="1446448800" />
    <input id="exportDataResult" type="button" value="Export" />
    <div>{{result}}</div>
</template>