<template name="passData">
    <h1>Create 5 min Aggregate Data for</h1>
    <span>Site: </span>
    <input type="text" value="482010572" />
    <span>Start Epoch: </span>
    <input id="start" type="text" value="{{startEpoch}}" />
    <input type="date" value="{{selectedStartDate}}" id="startdatepicker">
    
    <span>End Epoch: </span>
    <input id="end" type="text" value="{{endEpoch}}" />
    <input type="date" value="{{selectedEndDate}}" id="enddatepicker">
    <input id="passDataResult" type="button" value="Call" />
    <div>{{result}}</div>

    <h1>Create CSV for</h1>
    <span>Site: </span>
    <input id="site" type="text" value="482010572" />
    <span>Start Epoch: </span>
    <input id="startexport" type="text" value="1446535800" />
    <span>End Epoch: </span>
    <input id="endexport" type="text" value="1446565200" />
    <input id="exportDataResult" type="button" value="Export" />
    <div>{{result}}</div>
    
    <h1>Update Flag</h1>
    <span>Site: </span>
    <input id="site" type="text" value="482010572" />
    <span>Epoch: </span>
    <input id="epoch" type="text" value="1449035400" />
    <span>New Flag value (numeric): </span>
    <input id="flag" type="text" value="0" />
    <input id="updateFlag" type="button" value="Update" />
    <div>{{result}}</div>
</template>
