<template name="nav">
    <div class="ui inverted blue top attached menu">

        <a class="{{isActiveRoute regex='mainMap'}} item" href="{{pathFor 'mainMap' pos='dfsa'}}">Home</a> {{#if isActiveRoute regex='currentsites'}}
        <a id="showMenu" class="ui dropdown active item" href="{{pathFor 'currentsites'}}">
            <div class="text" data-content="Shows Menu">Sites</div>
        </a>

        {{else}}
        <a class="item" href="{{pathFor 'currentsites'}}">
            <div class="text">Sites</div>
        </a>
        {{/if}}
        <a class="{{isActiveRoute regex='testing'}} item" href="{{pathFor 'testing'}}">Generate</a>

        <span style="position:absolute;right:0%;">{{> atNavButton}}</span>
    </div>
</template>