<template name="nav">
	<div class="ui inverted blue top attached menu">
<!--        <a class="{{isActiveRoute regex='mainMap'}} item" href="{{pathFor 'mainMap'}}">Home</a>-->
			<a class="{{isActiveRoute regex='mainMap'}} item" href="{{pathFor 'mainMap' pos='dfsa'}}">Map</a>
        {{#if isActiveRoute regex='currentsites'}}
                <a id="showMenu" class="ui dropdown active item" href="{{pathFor 'currentsites'}}">
                    <div class="text" data-content="Shows Menu">Sites</div>
                </a>
                    <!-- {{#if activeMenu}}
                        <div id="menu2show" class="ui container">{{> mapMenu}}</div>
                    {{/if}} -->
<!--                </a>-->
                
                
            {{else}}
                <a class="item" href="{{pathFor 'currentsites'}}">
                    <div class="text">Sites</div>
                </a>
            {{/if}}

<!--			<a class="{{isActiveRoute regex='history'}} item" href="{{pathFor 'history'}}">History</a>-->
<!--
			{{#if isInRole 'admin'}}
			    <a class="item" href="{{pathFor 'admin'}}">Edit</a> 
			{{/if}}
-->
			<span style="position:absolute;right:0%;">{{> atNavButton}}</span>
		</div>
</template>